.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}

.width-120{
  width: 120px;
}
.width-150{
  width: 150px;
}


.block{
  display: block;
}
.inline-block{
  display: inline-block;
}

//  flex相关属性class
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.shrink-none{
  flex-shrink: 0;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.flex-column{
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-flex-end{
  justify-content: flex-end;
}
.item-center{
  align-items: center;
}

//  text相关属相class
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.ellipsis-x{
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  -webkit-box-orient: vertical;
}

//  margin and padding相关属性class
.margin-none{
  margin: none;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-25{
  margin-bottom: 25px;
}
.margin-bottom-40{
  margin-bottom: 40px;
}
.margin-bottom-50{
  margin-bottom: 50px;
}
.margin-left-10{
  margin-left: 10px;
}
.margin-left-20{
  margin-left: 20px;
}
.padding-left-15{
  padding-left: 15px;
}
.margin-right-50{
  margin-right: 50px;
}
.padding-right-15{
  padding-right: 15px;
}
.padding-50{
  padding: 50px;
}
.padding-row-50{
  padding-left: 50px;
  padding-right: 50px;
}
.padding-left-50{
  padding-left: 50px;
}
.padding-right-50{
  padding-right: 50px;
}
.padding-right-30{
  padding-right: 30px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}
.padding-bottom-20{
   padding-bottom: 20px;
 }
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-left-100{
  padding-left: 100px;
}
.padding-left-40{
  padding-left: 40px;
}
.padding-left-30{
  padding-left: 30px;
}

.padding-row-138{
  padding-left: 138px;
  padding-right: 138px;
}
.padding-row-30{
  padding-left: 30px;
  padding-right: 30px;
}
.padding-row-20{
  padding-left: 20px;
  padding-right: 20px;
}
.padding-row-15{
  padding-left: 15px;
  padding-right: 15px;
}
.padding-row-10{
  padding-left: 10px;
  padding-right: 10px;
}
.padding-column-30{
  padding-top: 30px;
  padding-bottom: 30px;
}


//  border相关属性class
.border-box{
  box-sizing: border-box;
}

.font-weight{
  font-weight: 900;
}
.font-size-12{
  font-size: 12px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-24{
  font-size: 24px;
}
.font-size-28{
  font-size: 28px;
}


//  position相关属性class
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

//  other
.overflow-auto{
  overflow: auto;
}
.overflow-hidden{
  overflow: hidden;
}
.pointer{
  cursor: pointer;
}

//  定位
.top-25{
  top: 25px;
}
.bottom--25{
  bottom: -25px;
}


// list
.list-style-none{
  list-style: none;
}


.color-red{
  color: red;
}

//  超出一行省略号显示
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
